<h2>Elenco Prodotti</h2>

<div *ngFor="let product of products">
  <p>{{ product.name }}
    <button (click)="SendDetails(product)">Visualizza dettagli</button>
  </p>
</div>

<app-product-details [product]="selectedProduct"></app-product-details>

<!-- Assegno un id ad select stampo l'array du tutti colori -->
<select #selectColor>
  <option>Seleziona Colore</option>
  <option *ngFor="let c of colori" value="{{c.nameColor}}">{{c.nameColor}}</option>
</select>

<!-- Passo il valore di una select per puoi assegnare il colore. -->
<button (click)="passColor(selectColor.value)">Colora</button>
<app-quadrato-colore></app-quadrato-colore>
<app-light [lights]="lights"></app-light>
